#content {
margin-top: 5px;
overflow: auto;
}

#prefsDiv {
overflow: auto;
}

#header {
text-align: right;
padding-right: 4px;
}

.hd {
text-align: right;
padding-right: 4px;
}

.linkSep {
padding-right: 4px;
padding-left: 4px;
}

.prefBut {
margin: 4px 8px;
width: 70px;
}

.comic {
background-color: #99C6D7;
max-width: 654px;
padding-bottom: 6px;
margin: auto;
margin-bottom: 13px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
align: center;
}

.header {
color: white;
text-align: center;
}

.comicType {
padding-top: 12px;
font-weight: bold;
font-size: large;
}

.imgContainer {
vertical-align: middle;
}

img.all {
display: block;
margin: auto;
text-align: center;
}

img.restrained {
width: 98%;
}

.controls {
padding-top: 4px;
text-align: center;
color: white;
font-size: xx-large;
font-weight: bold;
position: relative;
}

.next {
cursor: pointer;
margin-left: 30px;
}

.previous {
cursor: pointer;
margin-right: 30px;
}


a {
font-size: 12px;
}

a.fblink {
height: 19px;
width: 19px;
background-image: url('http://hosting.gmodules.com/ig/gadgets/file/112730546676022626871/fbicon.png');
position: absolute;
bottom: 0px;
right: 8px;
}

a.twlink {
height: 14px;
width: 14px;
background-image: url('http://hosting.gmodules.com/ig/gadgets/file/112730546676022626871/twicon.png');
position: absolute;
bottom: 3px;
right: 33px;
}
